.login-form-container{
  height: auto;
  background-color: #dedede;
  border: 1px solid #6b6b6b;
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 40%;
  }
  .login-formgroup.form-group {
    max-width: 300px;
    margin: auto;
    margin-top: 5px;
}
  .login-submit {
    width: 90px;
    margin: auto;
    margin-top: 10px;
    padding: 3px 11px;
    display: block;
    background-color: #1f4a7c !important;
    color: #FFF;
  }
  header.col-md-12.login-header {
    /* position: absolute; */
    /* top: -63px; */
    margin-top: -54px;
}
  .modal-header{
    border-bottom: 0;
  }
  .modal-footer{
    border-top: 0;
  }
  label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .login-header.col-md-12 {
    height: 50px;
    /* background:linear-gradient(to right ,#6fbfcc,#243a51); */
    padding: 10px;
    color: #1f4a7c;
    font-family: sans-serif;
    font-size: x-large;
    
  }
  .modal-header h4{
    text-align: center;
      font-size: large;
      color: #1f4a7c;
      font-weight: bolder;
  }
  .container-body {
    padding: 20px;
  }
  label.name {
    display: none;
  }
  .country {
    margin-top: 20px;
  }
  input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {
    
    box-sizing: border-box;
    height: 33px;
    font-size: 13px;
   
  }
  .error-message{
    text-align: center;
    color: rgb(245, 72, 72);
    display: none;
  }
  
  @media(max-width: 767px){
  .modal-dialog.modal-side.modal-bottom-right {
    position: relative;
    margin: auto;
    margin-top: 100px;
    right: auto;
    left: auto;
  }
  }
  @media(max-width: 575px) {
    .modal-dialog{
      max-width: 90%;
      margin-left: 5%;
    }
  }