<div class="cont_principal">
  <div class="cont_breadcrumbs">
    <div class="cont_breadcrumbs_1">
      <ul class="ullist">
        <li><a >{{moduleName}}</a></li>
        <li><a >{{platformName}}</a></li>
        <li><a >View</a></li>
      </ul>
    </div>  
  </div>
</div>
<div class="container">
    <div class="table-responsive">
    <table class="table table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Comment</th>
          <th>Author</th>
          <th>Reference Links</th>
          <th>Video Links</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of viewDataList">
          <td>{{item.subject}}</td>
          <td>{{item.comment}}</td>
          <td>{{item.author}}</td>
          <td><a href="{{item.referenceLinks}}" target="_blank">{{item.referenceLinks}}</a> </td>
          <td><a href="{{item.videoLinks}}" target="_blank">{{item.videoLinks}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
