
<div class="container">
    <h3><i>Entry</i></h3>
      <form [formGroup]="dataEntryForm">
        <div class="form-group">
          <label class="center-block">Subject:</label>
            <textarea class="form-control" formControlName="subject"></textarea>
        </div>
        <div class="form-group">
          <label class="center-block">Comment: </label>
            <textarea class="form-control" formControlName="comment"></textarea>
        </div>
        <div class="form-group">
          <label class="center-block">Reference Links:</label>
            <input class="form-control" formControlName="referenceLinks">
        </div>
        <div class="form-group">
          <label class="center-block">Video Links:</label>
            <input class="form-control" formControlName="videoLinks">
        </div>
        <div class="form-group">
            <label class="center-block">Tags:</label>
              <input class="form-control" formControlName="tags">
        </div>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </form>
      <div class="toastsuccess"><i class="fa fa-check" aria-hidden="true"></i> Saved successfully</div> 
    <!-- <p>Form value: {{ heroForm.value | json }}</p>
    <p>Form value: {{ heroForm.status | json }}</p> -->
</div>



