/* You can add global styles to this file, and also import other style files */
body {
    background: #ffffff;
    // text-align: center;
    // background: url("assets/image/backgroundimage.jpg"); 
    // -webkit-background-size: 100%;
    // -moz-background-size: 100%;
    // background-size: 100%;
    // background-repeat: no-repeat;
}
.toastsuccess {
    position: fixed;
    top: 20px;
    z-index: 1000;
    opacity: 0.9;
    right: 15px;
    background-color: #03993f;
    padding: 10px 50px 10px 20px;
    color: #ffffff;
    font-size: 18px;
    display: none;
    }