<div class="row box-wrraper" >
  <div class="col-md-12" >
    <div class="module-container" [ngClass]="module.name">
      <div *ngFor="let item of modules" class="modules"  [ngClass]="item.id == 1?'sop': item.id == 2?'poc': item.id==3?'error': item.id==4? 'document': item.id==5?'pos': ''">
        <div class="box-shape-round roundbox">
          <div >
            <div class="roundbox-content">
              <div>
              <span  (click)="clickonModule(item)">{{item.name}}</span>
            </div>
            </div>
          </div>
          <div class="module-connector"></div>
        </div> 
        
      </div>
    </div>
    <div class="platform-container" [ngClass]="module.name">
      <div class="platform-border platform-border-left">
        <div class="relative-div"></div>
        <div class="absolute-div"></div>
      </div>
      <div class="platform-boxes">
        <div *ngFor="let platform of platforms" class="platforms">
          <div class="box-shape-square" (click)="clickonPlatform(platform)">
            <span>{{platform.name}}</span>
          </div>
        </div>
      </div>  
      <div class="platform-border platform-border-right">
        <div class="relative-div"></div>
        <div class="absolute-div"></div>
      </div>
    </div>
  </div>
</div>
