<div class="row box-wrraper">
    <div class="col-xs-6 col-sm-8 col-lg-10" >
          <div class="box-shape-round roundbox"><div class="roundbox-content"><div><span  (click)="clickonSubject()">SOP</span></div></div></div> 
          <div class="box-shape-round roundbox"><div class="roundbox-content"><div><span>POC</span></div></div></div>
          <div class="box-shape-round roundbox"><div class="roundbox-content"><div><span>ERROR</span></div></div></div>
          <div class="box-shape-round roundbox"><div class="roundbox-content"><div><span>DOCUMENT</span></div></div></div>
          <div class="box-shape-round roundbox"><div class="roundbox-content"><div><span>VIDEO</span></div></div></div>
    </div>
  </div>
  <div class="row box-wrraper" *ngIf="subject">
    <div class="col-xs-6 col-sm-8 col-lg-10" >
          <div class="box-shape-square squarebox"><div class="squarebox-content"><div><span routerLink="data">JAVA</span></div></div></div>
          <div class="box-shape-square squarebox"><div class="squarebox-content"><div><span>ANDROID</span></div></div></div>
          <div class="box-shape-square squarebox"><div class="squarebox-content"><div><span>USER INTERFACE</span></div></div></div>
          <div class="box-shape-square squarebox"><div class="squarebox-content"><div><span>TESTING</span></div></div></div>
          <div class="box-shape-square squarebox"  ><div class="squarebox-content" ><div><span>DATA</span></div></div></div>
    </div>
  </div>
